<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Standings
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab *ngFor="let standingType of competitionStandings.standings" label="{{standingType.type}}">
        <ng-template>
          <div>{{standingType.type}}</div>
        </ng-template>
        <!--begin:: Widgets/Authors Profit-->
        <table class="table m-table">
          <thead>
            <th></th>
            <th></th>
            <th>Team</th>
            <th>Pts.</th>
            <th>Day.</th>
            <th>W.</th>
            <th>L.</th>
            <th>D.</th>
            <th>G.f</th>
            <th>G.a</th>
            <th>Diff</th>
          </thead>
          <tbody >
            <tr *ngFor="let standing of standingType.table">
              <td><b>{{standing.position}}</b></td>
              <td>
                <img class="avatar" src="{{standing.team.crestUrl}}" alt="">
              </td>
              <td>
                 {{standing.team.name}}
              </td>
              <td>
                <strong class="m--font-brand">{{standing.points}}</strong>
              </td>
              <td>
                <span class="">{{standing.playedGames}}</span>
              </td>
              <td>
                <span class="">{{standing.won}}</span>
              </td>
              <td>
                <span class="">{{standing.lost}}</span>
              </td>
              <td>
                <span class="">{{standing.draw}}</span>
              </td>
              <td>
                <span class="">{{standing.goalsFor}}</span>
              </td>
              <td>
                <span class="">{{standing.goalsAgainst}}</span>
              </td>
              <td>
                <span class="">{{standing.goalDifference}}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <!--end:: Widgets/Authors Profit-->
      </mat-tab>
    </mat-tab-group>
  </div>