<!--Begin::Section-->
<div class="row">
	<div class="col">
		<competition-teams></competition-teams>
	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="row">
	<div class="col-8">
      <div class="m-portlet">
          <div class="m-portlet__body m-portlet__body--no-padding">
            <competition-matches></competition-matches>
          </div>
        </div>
    </div>
	<div class="col-4">
      <div class="m-portlet">
          <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <competition-standings></competition-standings>
          </div>
        </div>
    </div>
  </div>
</div>
<!--End::Section-->