<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Matches
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <!-- <table>
      <thead>
        <th>Time</th>
        <th>Home</th>
        <th>Score</th>
        <th>Away</th>
      </thead>
      <tbody>
        <tr *ngFor="let match of competitionMatches.matches">
          <td>{{ match.utcDate | date}}</td>
          <td>{{ match.homeTeam.name}}</td>
          <td>{{ match.score.fullTime.awayTeam}} - {{ match.score.fullTime.awayTeam }}</td>
          <td>{{ match.awayTeam.name}}</td>
        </tr>
      </tbody>
    </table> -->

    <div class="matches">
      <div class=" row" *ngFor="let match of competitionMatches.matches">
        <span class="col-2">
          {{ match.utcDate | date:'MM/dd/yyyy'}}
        </span>
        <div class="col-4">
          <span>
            {{ match.homeTeam.name }}
          </span>
        </div>
        <div class="col-2">
          <span class="score m--font-brand">
            {{ match.score.fullTime.homeTeam}} - {{ match.score.fullTime.awayTeam}}</span>
        </div>
        <div class="col-4">
          <span>
            {{ match.awayTeam.name}}
          </span>
        </div>
      </div>
    </div>

    <!--end:: Widgets/Authors Profit-->
    <!-- </mat-tab>
      </mat-tab-group> -->
  </div>