<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Team
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body ">
    <div class="teams">
      <img *ngFor="let team of competitionTeams.teams" [class.selected]="team === selectedTeam" class="avatar" (click)="onSelect(team)"
        src="{{ team.crestUrl}}" alt="Avatar" />
    </div>
  </div>
</div>